<h2>profile</h2>
<%if current_user && current_profile==@profile%>
<p><%=link_to '(edit profile)', edit_profile_path(@profile)%></p>
<%end%>
<p>username</p>
<p>joined <%=@profile.created_at%></p>
<h3>Bio:</h3>
<p><%=@profile.bio%></p>
<h3>Articles:</h3>
<table>
    <%=render @articles%>
</table>
