
consider reading some articles, or
<%= link_to 'create a new article!', new_article_path%>

<table>
  <% @articles.each do |article|%>
    <tr>
      <td><%=link_to article.title.to_s, article_path(article)%></td>
      <td>user</td>
      <td><%= article.created_at%></td>
    </tr>
  <%end%>
</table>
